.taskListContainer {
    width: 20%;
    display: inline-block;
}

.task-item-container {
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    border: 0px;
}

.task-item-active {
    border: 1px solid black;
}

.task-content-container {
    width: 80%;
    display: inline-block;
}